<p id="notice"><%= notice %></p>

<p>
  <strong>Nrjyugyoin:</strong>
  <%= @employee.NRJYUGYOIN %>
</p>

<p>
  <strong>Txkana:</strong>
  <%= @employee.TXKANA %>
</p>

<p>
  <strong>Txkanji:</strong>
  <%= @employee.TXKANJI %>
</p>

<p>
  <strong>Kbkoyou:</strong>
  <%= @employee.KBKOYOU %>
</p>

<p>
  <strong>Dtnyusya:</strong>
  <%= @employee.DTNYUSYA %>
</p>

<p>
  <strong>Dttaisya:</strong>
  <%= @employee.DTTAISYA %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
